<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885265811986-nu374aiudtd3a1dcssbtrhsrvuecsoo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885265811986-nu374aiudtd3a1dcssbtrhsrvuecsoo0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_q-N0CPpIT60z1uXjOj289y0i5EG-MNY</string>
	<key>GCM_SENDER_ID</key>
	<string>885265811986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tcckau</string>
	<key>PROJECT_ID</key>
	<string>tcckau</string>
	<key>STORAGE_BUCKET</key>
	<string>tcckau.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885265811986:ios:6df36a38f58ad942b0e6cb</string>
</dict>
</plist>